<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <style>
        table {
            border: double 1px
        }

        tr {
            border: solid 1px;
        }

        td {
            border: solid 1px;
        }
    </style>
</head>
<body>
<div class="container">
    <table>
        <tr>
            <td>id</td>
            <td>body</td>
            <td>doubled</td>
            <td>3 times</td>
        </tr>
        {{#post}}
        {{>posts/post_item}}
        {{/post}}
    </table>

</div>
</body>
</html>