<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User detail</title>
    <style>
        table {
            border: double 1px
        }

        tr {
            border: solid 1px;
        }

        td {
            border: solid 1px;
        }
    </style>
</head>
<body>
<div class="container">
    {{#user}}
    <p>
        id : {{id}}<br/>
        name : {{name}}<br/>
        phone : {{phone}}<br/>
        website : {{website}}<br/>
    </p>
    {{/user}}
</div>
</body>
</html>


```java
model.addAttribute("post", false);
// 혹은
model.addAttribute("post", Collections.emptyList());
```

**output**

```html
Shown.
```

## templating

앞서 본 `detail.html`에서 변화하는 부분만 템플릿으로 뽑아보자

`src/main/resources/templates/posts/detail.html`

```html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<div class="container">
    <table>
        <tr>
            <td>id</td>
            <td>body</td>
        </tr>
        {{#post}}
        {{> posts/post_item}}
        {{/post}}
    </table>
</div>
</body>
</html>
```

`src/main/resources/templates/posts/post_item.html`

```html
<tr>
    <td>{{id}}</td>
    <td>{{body}}</td>
</tr>
```

## listing

리스트를 반환해보자.

```java
private static final ParameterizedTypeReference
<List
<Post>> postsListType = new ParameterizedTypeReference
    <List
    <Post>>() {};

        @GetMapping
        public String getList(Model model) {
        Mono
        <List
        <Post>> posts = WebClient.create("https://jsonplaceholder.typicode.com")
            .get()
            .uri("/posts")
            .retrieve()
            .bodyToMono(postsListType)
            .onErrorReturn(Collections.emptyList());

            model.addAttribute("post", posts);
            return "/posts/detail";
            }
            ```

            `/post/detail.html`은 수정할 것이 없다.
            `{{#post}}`가 list면 `foreach`를 수행한다.
